<p id="default-message" *ngIf="pokemons.length == 0">
  No pokemon captured yet
</p>

<div class="pokemon-detail" *ngFor="let pokemon of pokemons">
  <img src="{{pokemon.sprites['front_default']}}">

  <div class="pokemon-text">
    <span>{{pokemon.id}}</span>
    <span>{{pokemon.name}}</span>
    <button (click)="savePokemon(pokemon)">Save</button>
  </div>
</div>
