.pokemon-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin: 15px 0px;

  img {
    border: 1px solid black;
    border-radius: 5px;
  }
}

.pokemon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
